<h2>View Your Deck</h2>
<ul>
    <li *ngFor="let deck of decks" (click)="setCurrentDeck(deck)">
        {{deck.name}}
        <table mat-table [dataSource]="deck.cards" *ngIf="deck == currentDeck">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let card"> {{card.name}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let card"> {{card.type}} </td>
            </ng-container>
            <ng-container matColumnDef="bodyText">
                <th mat-header-cell *matHeaderCellDef>Body Text</th>
                <td mat-cell *matCellDef="let card"> {{card.text}} </td>
            </ng-container>
            <ng-container matColumnDef="mana">
                <th mat-header-cell *matHeaderCellDef>Mana Cost</th>
                <td mat-cell *matCellDef="let card"> {{card.mana}} </td>
            </ng-container>
            <ng-container matColumnDef="power">
                <th mat-header-cell *matHeaderCellDef>Power</th>
                <td mat-cell *matCellDef="let card"> {{card.power}} </td>
            </ng-container>
            <ng-container matColumnDef="toughness">
                <th mat-header-cell *matHeaderCellDef>Toughness</th>
                <td mat-cell *matCellDef="let card"> {{card.toughness}} </td>
            </ng-container>
        </table>
    </li>
</ul>