
<div *ngIf="isRegistering" class="container">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4">Register New Account</h3>
                    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                        <label for="email">Email </label>
                        <div class="form-label-group">
                          <input type="text" name="email" id="email" value="email" placeholder="email@website.com" formControlName="email" />

                        </div>
                        <label for="password">Password </label>
                        <div class = "form-label-group">

                            <input type="password" name="password" id="password" placeholder="password" formControlName="password"/>
                        </div>
                        <label for="first">First Name </label>
                        <div class="form-label-group">
                            <input type="text" name="first" id="first" placeholder="Richard" formControlName="first"/>
                        </div>
                        <label for="last">Last Name </label>
                        <div class="form-label-group">
                            <input type="text" name="last" id="last" placeholder="Garfield" formControlName="last"/>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
                        <div class="text-center">
                            <a routerLink="/login" routerLinkActive="active">Return to Login</a>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

<div *ngIf="!isRegistering" class ="container">
    <div class="card">
        <div class="card-header">
            <h2>Account Created!</h2>
        </div>
        <div>
            <a routerLink="/login" routerLinkActive="active">Return to Login</a>
        </div>
    </div>
</div>
